.grand-carre{
  color:black;
  height:420px;
  width:420px;
  margin-left: auto;
  margin-right: auto;
  border : black solid 1px;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.orange {
  background: orange;
}
