.red{
  background-color:red;
  height:200px;
  width:200px;
  display:inline-block;
  margin:5px;
}

.green{
  background-color:green;
  height:200px;
  width:200px;
  display:inline-block;
  margin:5px;
}

.blue{
  background-color:blue;
  height:200px;
  width:200px;
  display:inline-block;
  margin:5px;
}

.orange{
  background-color:orange;
  height:200px;
  width:200px;
  display:inline-block;
  margin:5px;
}
